<% content_for :head do %>
<%= javascript_include_tag "application/application" %>
<% end %>


<div class="formHeader">Редактирование секции</div>

<%= render 'form' %>

<!--
< %= link_to 'Show', @section %> |
< %= link_to 'Back', @section.meeting %> -->
