<table id="twittTable">
  <tr>
    <th class="roundedleft">Статус</th>
    <th class="roundedright">Сообщение</th>
  </tr>
  <% @section.twitts.limit(20).each do |twitt| %>
  <tr>
    <% if twitt.state == "new" %>
     <td class="tableStat"><%= link_to " ", activate_section_twitt(twitt), :method => :post, :class => "cansel_button" %></td>
     <td class="tableMsg" ><span><%= twitt.text %></span></td>
    <% else  %>
      <td class="tableStat"><%= link_to " ", activate_section_twitt(twitt), :method => :post, :class => "active_button" %></td>
      <td><%= twitt.text %></td>
    <% end %>
  </tr>
  <% end %>
</table>
