<table id="twittTable">
  <% @section.active_twitts.limit(20).each do |twitt| %>
<tr>
  <td>
    <b><%= twitt.anonymous.formated_name %></b>:
    <div class="tableMsg"><%= twitt.text%></div>
  <td/>
<tr/>
  <% end %>
</tr>
</table>
    