    <div id="homeSlider">
        <div id="homeSliderViewport">
            <div id="page1" class="page page1 mobileProfilesByScan">
                <a href="qr-code-generator/index.html" class="createYoursFree"></a>
            </div>
            <div id="page2" class="page page2 downloadScan">
                <a href="http://itunes.apple.com/us/app/scan/id411206394" class="downloadApple"></a>
                <a href="https://play.google.com/store/apps/details?id=me.scan.android.client" class="downloadAndroid"></a>
                <a href="http://www.windowsphone.com/en-US/apps/c62d7a1c-c336-4394-84d0-2ea4913fc891" class="downloadWindows"></a>
            </div>
            <div id="page3" class="page page3 scanVideo">
                <a onclick="Scan.showRegisterDialog();" class="signUp"></a>
                <a onclick="Scan.showPromoVideo();" class="videoPreview"></a>
            </div>
            <div id="page4" class="page page4 scanForBusinesses">
                <a href="qr-code-generator/index.html" class="businessQrCode"></a>
            </div>
        </div>
    </div>

    <ul id="homeSliderControls">
        <li><a id="nav-page1" class="mobileProfilesByScan sliderCarousel active"></a></li>
        <li><a id="nav-page2" class="downloadScan sliderCarousel"></a></li>
        <li><a id="nav-page3" class="scanVideo sliderCarousel"></a></li>
        <li><a id="nav-page4" class="scanForBusinesses sliderCarousel"></a></li>
    </ul>

    <ul class="homeLinks">
        <li><a class="aboutService" href="#"><%= t :Demo %></a></li>
        <li><a class="featureList" href="#"><%= t :FeatureList %></a></li>
        <li><a class="gallery" href="#"><%= t :Gallery %></a></li>
        <li><a class="downloadTheApp" href="#"><%= t :AnyLink %></a></li>
<!--        <li><a class="watchTheScanAd" onclick="Scan.showPromoVideo();">Watch the Scan Ad</a></li>-->
    </ul>
