<script type="text/javascript">
$(document).ready(function() {
   $('#homeSlider').cycle({
      fx: 'cover', // выберите тип анимации, ex: fade, scrollUp, shuffle,...
      delay:    -2000,
      before: function(curr, next, opts) {
			opts.animOut.opacity = 0;
      },
      pager: '#homeSliderControls',

      pagerAnchorBuilder: function(idx, slide) {
      return '<a href="#"></a>';
    }
      });
});

</script>
 
 <div id="homeSlider">
   <img src="/slider/1.png"/>
   <img src="/slider/2.png"/>
   <img src="/slider/3.png"/>
   <img src="/slider/4.png"/>
</div>

     <div id="homeSliderControls">
    </div>

    
    <ul class="homeLinks">
        <li><a class="aboutService" href="#"><%= t :Demo %></a></li>
        <li><a class="featureList" href="#"><%= t :FeatureList %></a></li>
        <li><a class="gallery" href="#"><%= t :Gallery %></a></li>
        <li><a class="downloadTheApp" href="#"><%= t :AnyLink %></a></li>
<!--        <li><a class="watchTheScanAd" onclick="Scan.showPromoVideo();">Watch the Scan Ad</a></li>-->
    </ul>
