<%= form_tag set_name_path(@anonymous.aid), :method => :post, :class => "dialog", :title => "Dialog", :selected => "selected", :id => 'name-form' do %>
<fieldset>
  <h1>Имя</h1>
  <br />
  <span class="panel"><h2><%= label_tag 'anonymous[name]', (t 'anonymous.enter-your-name') %></h2></span>
  <a id="backButton" class="button" href="#" style="display: inline;">QR-голос</a>
  <a id="submit-twitt" class="button blueButton" >Отправить</a>
  <%= text_field_tag 'anonymous[name]', nil,  :id => 'name-text', :class => "nname" %>

</fieldset>
<div class="spinner"></div>
<% end %>


