<%= form_tag set_name_path(@anonymous.aid), :method => :post do %>
<div>
  <%= label_tag 'anonymous[name]', (t 'anonymous.enter-your-name') %>
</div>
<div>
  <%= text_field_tag 'anonymous[name]' %>
</div>
<div>
  <%= submit_tag (t 'buttons.ok') %>
</div>
<% end %>
