<!-- header -->
<div class="toolbar">
      <h1 id="pageTitle"></h1>
      <a id="backButton" class="button" href="#"></a>
      <a class="button" href="#twitt-form" style="display: none;">Написать</a>
</div>

<div class="panel" title="QR-голос" selected="true" id="first">


<%= form_tag set_name_path(@anonymous.aid), :class => "dialog", :title => "Dialog", :selected => "false", :id => 'name-form' do %>
  <a id="backButton" class="button" href="#" style="display: inline;">QR-голос</a>
  <a id="submit-name" class="button blueButton" type="submit">Отправить</a>
  <fieldset>
      <h1>Имя</h1>
      <br />
      <span class="panel"><h2><%= label_tag 'anonymous[name]', (t 'anonymous.enter-your-name') %></h2></span>
      <%= text_field_tag 'anonymous[name]', nil,  :id => 'name-text', :class => "nname" %>
  </fieldset>
<div class="spinner"></div>
<% end %>


</div>
