#mtng.descr {
  width: 100%;
  border-color: #CCC;
}

#mtng.name a {
  color: #333;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  font-family: arial, serif;
}
#mtng.name {
  color: #333;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  font-family: arial, serif;
}

#mtng.edit {
  float: right;
}

#sctn.name a {
  color: #333;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  font-family: arial, serif;
}
#sctn.name {
  color: #333;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  font-family: arial, serif;
}

#sctn.edit {
  float: right;
}