/* Mobile css

 * = r equire iui
 * = r equire iui-theme
 * = r equire iui-ext
 *= require ios.css
*/

.panel > ul, .panel > fieldset {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #999999;
  font-size: 16px;
}

.panel p.normalText {
  text-align: center;
  padding: 0 10px 0 10px;
}

.panel > h2 {
  margin: 0 0 8px 14px;
  font-size: inherit;
  font-weight: bold;
  color: #4d4d70;
  text-shadow: rgba(255, 255, 255, 0.75) 2px 2px 0;
}

.ui-li .ui-btn-inner a.ui-link-inherit {
  padding: 0.1em 11px;
  display: block;
}
