body {
  overflow: hidden;
  height: 100%;
  font-family: 'PT Sans';
  margin: 0px;
  color: #333;
  background: url(/screens/infotex2012/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner {
  height: 100%;

}

#bannerImg {
  padding: 64px;
}
.center {
  text-align: center;
}

.formHeader {
  font-size: 35px;
  color: #333;
  padding: 0px 0px 35px 0px;
  text-align: left;
  text-shadow: #CCC 0px 2px 3px;
}

#twittTable {
  /*margin-top: 25px;*/
  width: 100%;
  font-size: 20px;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
}

#twittTable .tableName {
  color: #18A1B1;
  font-weight: bold;
}

#twittTable .twittMsg {
  padding: 10px;
  border-bottom: 1px solid #999;
}

#twittTable .twittMsg:last-child {
  border-bottom: 0;
}

#twittTable .tableMsg {
  word-wrap: break-word; /* Перенос слов */
  width: 870px;
}

#blocks {
  /*background: url(/screens/infotex2012/blocks.png) no-repeat;*/
  width:100%;
  vertical-align: top;
}

#content {
  vertical-align: top;
}

#HbannerI {
  margin-right: 64px;
}

#HbannerT {
  margin-right: 64px;
  padding-bottom: 37px;
}

#HbannerQ {
  margin-right: 64px;
  padding-bottom: 37px;
}

.variant_strip {
  padding-left: 0px;
  height: 20px;
  border-radius: 10px;
  background-color: #18A1B1;
  /*min-width: 4em;*/
}

.variant_spacer {
  border: solid;
  border-color: #333;
  border-radius: 10px;
  border-width: 1px;
}
.variant_text {
  font-size: 30px;
}

.showtime {
  float: right;
  font-size: 16px;
}

#timer {
  position: fixed;
  top:0;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  opacity: 0.5;
  zoom: 1;
  filter: alpha(opacity=50);
  text-align: center;
  right:0;
  font-size: 5em;
  color: white;
  background-color: black;
  box-shadow: 0px 1px 50px #777;
  display: none;
}
